 * {
    margin: 0;
    padding: 0;
 }
 :root{
    --dark-gray: rgb(57, 62, 70);
    --light-gray: rgb(178, 177, 185);
    --yellow: rgb(255, 211, 105);
    --light-yellow: rgb(255, 241, 193);
    --white: rgb(241, 242, 246);
    --orange: rgb(255, 188, 44);
 }
 body{
    font-family: 'Oswald', sans-serif;
 }
 .container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
    


 }
 .header{
    background-color: var(--dark-gray);
    grid-column: 2/4;
 }
 .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    row-gap: none;
 }
 /* search */
 .search-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem;
    gap: .4rem;
    flex: 1;
 }
 .search-input{
    border-radius: 20px;
    border: none;
    padding:.3rem ;
    min-width: 20rem;
    max-height: 1.5rem;
    font-size: 1.1rem;
    background-color: rgb(227, 223, 223);
    align-self: center;
    flex: 1;
    outline: none;
    font-size: 1.5rem;
    padding-left: 1rem;
 }
 .search-input:focus{
   border: 2px solid black;
   background-color: var(--light-gray);
 }

 .search-icon{
    font-size: 1.2rem;
    align-self: center;
 }
 /* profile info */
 .profile-info{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
 }
 .profile-svg{
    width: 3.5rem;

 }
 
 .greeting{
    display:flex;
    gap: 1rem;
    align-items: center;
    color: white;
    text-align: start;
    font-size: 1.4rem;
    
 }
 .greeting > img{
    padding-left: 2rem;
    width: 5rem;
 }
 .header-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
    gap: 2rem;


 }
 .header-buttons >button{
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    min-width: 4rem;
    padding: .5rem;
    font-weight: 600;
    background-color: var(--orange);

 }
 /* sidebar */
.dashboard-svg{
    width: 5rem;
}

 .sidebar{
    display: grid;
    grid-template: 1/10;
    background-color: var(--orange);
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 2rem;
    row-gap: 2rem;

 }
 .sidebar > *{
    display: flex;
    gap: 1rem;
 }
 .dashboard{
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
 }
 i.material-icons{
   font-size: 2.4rem;
   
   
}
 .main-content{
    background-color: var(--light-gray);
    grid-column: 2/3;

 }
 .cards{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 1fr 1fr;
   text-align: start;
   column-gap: 2rem;
   row-gap: 3rem;
   padding: 2rem;
 }
 .star-icon , 
 .share-icon{
   color: var(--orange);
   font-size: 3rem;
   align-self: end;
   margin-bottom: 0;
 }
 .title{
   font-size: 1.4rem;
   text-align: start;
   padding-left: 2rem;
   padding-top: 1.4rem;

 }
 .card{
   display: flex;
   flex-direction: column;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 10px;
    min-width: 10rem;
    max-height: 13rem;
 }
 .trending-card > img{
    width: 5rem;
 }
 
 .announcement{
    background-color: var(--light-gray);
   
 }
